@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(43, 43, 43, 0.521);
}
header,footer{
    background-color: rgba(26, 25, 25, 0.74);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
header > *{
    font-size: 3rem;
    color: white;
    font-family: Oswald;
    text-align: center;
}
header i:hover{
    color: rgb(117, 114, 114);
}
footer{
    position: fixed;
    bottom: 0;left: 0;right: 0;
    text-align: center;
}
footer *{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
footer a:hover{
    color: rgb(117, 114, 114);
}
#words{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: .2rem;
}
.word{
    width: 2rem;
    height: 3rem;
    background: rgb(172, 172, 172);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oswald;
    font-size: 2rem;
    font-weight: 700;
}
#game{
    display: none;
    text-align: center;
}
#start{
    padding: .7rem;
    margin-left: 50vw;
    margin-top: 1rem;
    transform: translate(-50%);
    font-family: oswald;
    font-size: 1.7rem;
    font-weight: 700;
    min-width: 250px;
    max-width: 300px;
}
#playeractions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#choice{
    font-weight: 300;
    background-color: #e9e9ed;
    border: none;
    font-size: 2rem;
    padding: .5rem;
    border-radius: .3rem;    
}
#letter{
    width: 2rem;
    height: 3.3rem;
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    text-align: center;
    font-size: 2.4rem;
}
#chosenLetters,#chosenLetters span{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}
#chosenLetters span{
    color: red;
}
#step{
    width: 80vw;
    max-width: 300px;
    margin: auto;
    margin-top: 1rem;
    font-size: 2rem;
    padding: .5rem 1rem;
    font-family: oswald;
    border-radius: 1rem;
    border: 1px solid black;
}


@media (max-width:420px){
    header a{
        display: none;
    }
}